/* ----------------
    Beginning of Main Content Styles
  ---------------- */

  main{
    width: 85%;
    margin: 80px auto 50px 10%;
}

main h1{
    font-size: 28px;
    width: auto;
    text-align: left;
}

main h2{
    font-size: 24px;
    width: auto;
    text-align: left;
}

