html{
    background-color: #e6e7e8;}
body {
    margin:0;
    font-family:Arial;
    margin: 10px;   
}

.smalllogo{
  margin-left: 10px;
}

/* nav */
.topnav {
  overflow: hidden;
  background-color: #a7a9ac;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homebtn {
    width: 215px;
    text-align: center;
    transition-property: background-color;
    transition-duration: .5s;
    box-sizing: border-box;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

.active {
  background-color: #a7a9ac;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
    
    
}

.dropdown .dropbtn {
  border: none;
  font-size: 23px;  
  text-decoration: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  width: 215px;
}

.dropdown-content {
    
  display: none;
  position: absolute;
  background-color: #e6e7e8;
  min-width: 164px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-left: -5px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #a7a9ac;
  color: #e6e7e8;
}

.dropdown-content a:hover {
  background-color: #d9d9d9;
  color: black;
} 

.dropdown:hover .dropdown-content {
  display: block;
}
/* nav end */


/* bottom of the pages */
div.bottom{
    display:none;
}
 img.Blogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.demo{
  width: 400px;
}

div.circles{
justify-content: space-around;
width: 100%;
    display: flex;
}
hr.thick {height: 2px;
    background-color: #a7a9ac;
}
/* End bottom of the pages */

/*main content*/
main{
    width: 80%;
    margin: 10px auto 50px;
    
}
/*end of main content*/


@media screen and (max-width: 600px) {
    /*body change */
    body{
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    div.demo{
      width: 100%;
    }
/*bottom Circle nav*/
    div.bottom{
    display: block;
}
.topnav {
  display: block;
}
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {

  .topnav {
    display: block;
  }
    /* demo boxes */
  div.demo{
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
     /* end of demo boxes */
  
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    
    img.smalllogo {
        display: none;
    } 
/*dropdown hover color*/
.dropdown-content a:hover {
  background-color:  #e6e7e8;
  color: black;
}
  .topnav a {
    margin-left: 0px;
    width: 100px;
    }
    
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
    /*nav bottom line */
   .dropdown .dropbtn { 
    border-bottom-style: solid;
    border-bottom-color: white;
    }
    
      /* main section */
    main {
        margin-left: auto;
        margin-right: auto;
    }
}

