
/* ----------------
    Beginning of Main Content Styles
  ---------------- */

  main{
    width: 90%;
    margin: 120px auto 50px;
}

main h1{
    font-size: 28px;
    width: auto;
    text-align: center;
}

main h2{
    font-size: 24px;
    width: auto;
    text-align: center;
}

main p{
    font-family: sans-serif;
    font-size: 16px;
}

.categorylink{
    background-image: url("https://via.placeholder.com/300x160.png/fff");
}

#categorylinks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}