/* css reset */
html, body{
    padding: 0px;
    margin: 0px;
}

/* background color */
html{
    background-color: #d9d9d9;
}

/* ----------------
Formatting for Navigation
  ---------------- */

/* sets display to flex, sets positioning, and basic styles */
nav{
    background-color: #c4c4c4;
    color: black;
    display: flex;
    flex-direction: row nowrap;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 10;
}

/*adjusts font size*/
nav h1{
    font-size: 28px;
}
nav h2{
    font-size: 20px;
}

/* ----------------
Formatting for Logo
  ---------------- */

#logo{
    width: 60px;
    margin: 0px 16px;
    transition-property: background-color;
    transition-duration: .5s;
}

#logo:hover{
    background-color: #aaaaaa;
}

/* ----------------
Formatting for All Lists in Nav
  ---------------- */

/* css reset for ul, and removes bullets */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* sets width of all list elements, adds animations, and aligns text */
nav li{
    width: 215px;
    text-align: center;
    transition-property: background-color;
    transition-duration: .5s;
    box-sizing: border-box;
}

/* removes default link formatting */
nav a {
    text-decoration: none;
    color: black;
}

/* adds hover formatting for links */
nav li:hover{
    background-color: #aaaaaa;
}

/* ----------------
Formatting for Category List
  ---------------- */

nav > ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
}

/* adjusts size and spacing of dropdown arrows */
.dropdown{
    height: 12px;
    padding: 2px 0px 0px 12px;
}

.category{
    width: 100%;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

/* formating for category sub-lists */

nav li ul{
    margin-top: 0px;
    display: none;
    position: absolute;
    font-weight: normal;
}

nav li:hover ul{
    display: block;
    background-color: #c4c4c4;
}

nav li li a {
    display: block;
    margin: 0px;
    padding: 1px;
}

nav li li a:hover {
    cursor:pointer;
}

/* ----------------
    Styles for the sidebar menu
  ---------------- */
@media screen and (min-width: 1000px){
    #sidebar{
        position: fixed;
        top: 100px;
        left: 0px;
        list-style: none;
        width: 10%;
        box-sizing: border-box;
        padding: 0%;
        margin: 0%;
    }
    
    #sidebar a{
        color: grey;
        text-decoration: none;
    }
    
    #sidebar h2{
        font-size: 1.5vw;
        font-family: sans-serif;
        padding: 0%;
        margin: 20px auto 20px 12px;
    }
    
    #sidebar a:hover{
        text-decoration: underline;
    }
    
    #sidebar a:visited{
        color: black;
    }
}

@media screen and (max-width: 1000px){
    #sidebar{
        display: none;
    }

    main{
        margin-left: auto;
    }
}

/* ----------------
    End of Navigation Styles
  ---------------- */



/* ----------------
    Beginning of Main Content Styles
  ---------------- */

main{
    width: 90%;
    margin: 120px auto 50px;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 24px;
}

p{
    font-size: 16px;
    font-family: sans-serif;
}

/* ----------------
    Styles for Special Link Types
  ---------------- */

/* Styles for links linking to category pages */
.categorylink{
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    background-color: #c4c4c4;
    color: black;
    width: 300px;
    height: 160px;
    margin: 40px 20px;
    align-items: center;
    justify-content: flex-end;
}

.categorylink p{
    background-color: #c4c4c4;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    transition-property: height padding;
    transition-duration: .3s;
}

.categorylink:hover p {
    height: 0px;
    padding: 0px;
}

/* Styles for links linking to other pages */
.pagelink{
    text-decoration: none;
    display: flex;
    background-color: #c4c4c4;
    color: black;
    width: 200px;
    height: 50px;
    margin: 32px auto;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.pagelink:hover{
    text-decoration: underline;
}